<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>📝 Moje Zadania</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>📝 Moje Zadania</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


        <form action="/add" method="POST" class="add-form">
            <input type="text" name="content" placeholder="Nowe zadanie..." required>
            <button type="submit">Dodaj</button>
        </form>
		<div class="actions">
 		   <a href="/export" class="btn-export">📦 Eksportuj JSON</a>
   		   <a href="/import" class="btn-import">📥 Importuj JSON</a>
		</div>
        <ul class="task-list">
            {% for task in tasks %}
            <li class="{{ 'done' if task.done else '' }}">
                <a href="/toggle/{{ task.id }}" class="checkbox">
                    {% if task.done %}
                        ✅
                    {% else %}
                        ⬜
                    {% endif %}
                </a>
                <span>{{ task.content }}</span>

		<a href="/edit/{{ task.id }}" class="edit">✏️</a>

                <a href="/delete/{{ task.id }}" class="delete">🗑️</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
